img.emoji {
  margin: 0px !important;
  display: inline !important;
  border: 0 !important;
  box-shadow: none !important;
  background: none !important;
}

h1 img.emoji {
  width: 110px;
}

ol li img.emoji,
ul li img.emoji {
  width: 36px;
}
